<div class="py-4">
    <div class="container">
       <div class ="row">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="width:100%;" enctype="multipart/form-data">
          <div class="row">
   
            <aside class="col-md-4">
                </aside>

          <main class="col-md-8">
             <div class="border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                   <h6 class="m-0">Change Password</h6>
                   <p class="mb-0 mt-0 small">
                   </p>
                </div>
                <div class="box-body p-3">
                    <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <div class="js-form-message">
                              <label id="nameLabel" class="form-label">
                              Password
                              <span class="text-danger">*</span>
                              </label>
                              <div class="form-group">
                                 <input [type]="phide ? 'password' : 'text'" formControlName="password" class="form-control width92 float-left" 
                                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password`" aria-label="Enter your password" />
                                 <mat-icon matSuffix (click)="phide = !phide" class="float-left pl-5 pt-5">{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                       <div *ngIf="f.password.errors.required">Password is required</div>
                                       <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <div class="js-form-message">
                              <label id="usernameLabel" class="form-label">
                              Confirm Password
                              <span class="text-danger">*</span>
                              </label>
                              <div class="form-group">
                                 <input [type]="cphide ? 'password' : 'text'" formControlName="confirmPassword" class="form-control width92 float-left" 
                                 [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Re-enter password" aria-label="Enter your password" />
                                 <mat-icon matSuffix (click)="cphide = !cphide" class="float-left pl-5 pt-5">{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                 <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                       <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                       <div *ngIf="f.confirmPassword.errors.ConfirmPassword">Password did not match</div>
                                 </div>

                              </div>
                           </div>
                        </div>
                        <!-- End Input -->
                     </div>
                </div>
             </div>

             <div class="mb-3 text-right">
               <button [disabled]="loading" class="btn btn-primary" (click)="cancelRegForm(); false;">
                  Cancel
               </button>

                <button [disabled]="loading" class="btn btn-primary ml-5" type="submit">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Save Changes
               </button>
             </div>
         
          </main>
 
       </div>
       </form>
 
       </div>
 
 
    </div>
 
    <div id="waitDialog" style="display:none;"></div>
    
 </div>