#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
  button {
    padding: 5px;
    cursor: pointer;
  }
  .spinner {
      margin: 0 auto;
      height: 32px;
      width: 32px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }
  button.btn {
    padding: .4rem 1rem !important;
}
.btn {
   color: #000;
}
.btn-grey{
 background-color: gray;
  border-color: gray;
}

.connectContent{
  height:70px;
}

  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }