
<div class="content-bg-wrap"></div>
<!-- Header Standard Landing  -->

<div class="header--standard header--standard-landing" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="#" class="logo">
				<div class="title-block">
					<h4 class="logo-title"><strong>Facehiring</strong></h4>
					<div style="font-size: 10px;">Konnecting | Jobseekers</div>
				</div>
			</a>

			<a href="#" class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
			</a>
		</div>
	</div>
</div>

<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<div class="container">
	<div class="row display-flex">
        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12"></div>
		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
			
			<!-- Login-Registration Form  -->
			
			<div class="registration-login-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<!-- <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
							<svg class="olymp-login-icon"><use xlink:href="#olymp-login-icon"></use></svg>
						</a>
					-->
					</li>
          
          <!-- <li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab">
							<svg class="olymp-register-icon"><use xlink:href="#olymp-register-icon"></use></svg>
						</a>
          </li>
        -->
        
				</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
			
					<div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
						<div class="title h5 fontWhite">Update your password</div>
						<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
							<div class="row">
								<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group label-floating">
										<input type="text" formControlName="activationCode" class="form-control width92" 
								 		[ngClass]="{ 'is-invalid': submitted && f.activationCode.errors }" placeholder="Enter your 4 digit activation code" aria-label="Enter your 4 digit activation code" [maxLength]="4"/>
										
										 <div *ngIf="submitted && f.activationCode.errors" class="invalid-feedback">
											<div *ngIf="f.activationCode.errors.required">Activation code is required</div>
											<div *ngIf="f.activationCode.errors.pattern">Only allow numbers</div>
									  	</div>

                                    </div>
                                    

                                    <div class="form-group label-floating">
										<input [type]="phide ? 'password' : 'text'" formControlName="password" class="form-control width92 float-left" 
								 		[ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password" aria-label="Enter your password" />
										 <mat-icon matSuffix (click)="phide = !phide" class="float-left pl-5 pt-5">{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
										 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
									  	</div>

                                    </div>

                                    <div class="form-group label-floating">
										<input [type]="cphide ? 'password' : 'text'" formControlName="confirmPassword" class="form-control width92 float-left mt-15" 
								 		[ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Enter your confirmation password" aria-label="Enter your confirmation password" />
										 <mat-icon matSuffix (click)="cphide = !cphide" class="float-left pl-5 pt-20">{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
										 <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                            <div *ngIf="f.confirmPassword.errors.ConfirmPassword">Password did not match</div>
                                      </div>

                                    </div>

                                    
									<button [disabled]="loading" class="btn btn-primary mt-15">
										<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
										Update
									</button>

			
									<!-- <div class="or"></div> 
			
									<a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>
			
									<a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
                  --> 
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- ... end Login-Registration Form  -->		</div>
	</div>
</div>