#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
  button {
    margin-left: 40px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .spinner {
      margin: 0 auto;
      height: 32px;
      width: 32px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

.featured { overflow:hidden; width:560px; height:auto; }
.featured img { max-width:100%; height:auto; }

.featuredImg{width:560px; height:auto; overflow:hidden;}
/*.featuredImg img {width:575px !important; height: auto; max-width:100%; object-fit: cover;}*/
.cropClss{max-width:100%; height:auto;}