.registration-login-form{
    min-height:120px !important;
  }
  .landing-content{
    min-height:120px !important;
  }
  .btn-md{
    font-size: 0.85rem;
  }
  .forgotClass a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  .forgotClass{
    float: right; margin-right: 15px;
  }
  #signUpContainer{
    margin-top:150px;
  }
  .toprightCorner{
    padding-top:0px;
  }
  #loginDialog{
    display:none;
  }
  .wellcomeBigText{
    padding:0px; margin:0px; color:white; font-weight: bold;
  }
  .wellcomSmallText{
    padding:0px; margin:0px; color:white; font-weight: normal;
  }
  .mb-10{
    margin-bottom:10px;
  }
  .pl-3{
    padding-left:3px !important;
  }
  #loginDialog .form-control:focus{
    color: #000 !important;
  }