<div class="content-bg-wrap"></div>
<!-- Header Standard Landing  -->
<div class="row nogutter">
	<div class="col-md-8 float-left nogutter">
		<div class="header--standard header--standard-landing" id="header--standard">
			<div class="container-fluid">
				<div class="header--standard-wrap" style="float:left;">
					<a href="#" class="logo">
						<div class="title-block">
							<h4 class="logo-title"><strong>Facehiring</strong></h4>
							<div style="font-size: 10px;">Konnecting | Jobseekers</div>
						</div>
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 float-right toprightCorner nogutter">
		<div class="header--standard header--standard-landing" style="margin-top:-25px">
			<div class="container-fluid">
				<div class="header--standard-wrap col-md-12 float-right" style="float:left; display:flex;">
				</div>
			</div>
		</div>
	</div>

</div>

<div class="header-spacer--standard"></div>
<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 nogutter" id="bodyContent">
	
	<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 float-left text-left nogutter">
    	<div id="overlay" *ngIf="!isContentLoaded">
			<div class="spinner"></div>
			<br/>
			Loading...
		</div>

		<div class="ml-50 float-left" *ngIf="careermanagerdetails.length == 0">
			<h6 class="fontWhite">No records available</h6>
		</div>

		<div class="float-left mt--5 ml-50" *ngIf="careermanagerdetails.length > 0">
        <div class="flip-card float-left" *ngFor="let cm of careermanagerdetails">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{cm.imageProfile}}" alt="Profile Picture" style="max-width: 100%; height: auto;" onerror="this.src='assets/files/profilePics/blank.png';">
              </div>
              <div class="flip-card-back">
                <h4 class="fontWhite">{{cm.firstName}} {{cm.lastName}}</h4> 
                <h5 class="fontWhite mt-20">{{cm.collageName}}</h5>
                <h5 class="fontWhite">{{cm.departmentName}}</h5>
              </div>
            </div>
		  </div>
		</div> 
	</div>

</div>